@charset "UTF-8";
/* Colors */
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.header {
  height: 4.375rem;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2901960784);
}

.header__logo {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: #08A6E4;
  margin-left: 1.5625rem;
  width: 60%;
  margin-top: 1.25rem;
}

.header__button__hamburger {
  background-color: transparent;
  border: none;
  width: 1.25rem;
  height: 0.875rem;
  margin-left: 20rem;
  position: relative;
  bottom: 1.6rem;
}

.header__nav__list {
  display: none;
}

/* Desktop */
@media screen and (min-width: 768px) {
  .header {
    height: 70px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .header__logo {
    font-size: 2rem;
    margin-left: 3.125rem;
    margin-bottom: 1.25rem;
  }
  .header__button__hamburger {
    display: none;
  }
  .header__nav__list {
    display: flex;
  }
  .header__nav__list li {
    list-style: none;
    margin-right: 5rem;
    position: relative;
    /* Necesario para posicionar la barra */
  }
  .header__nav__list li a {
    font-family: "Open Sans", sans-serif;
    font-size: 0.6875rem;
    font-weight: 700;
    line-height: 0.9375rem;
    color: #000000;
    text-decoration: none;
    display: inline-block;
    /* Asegura que el span ocupe el ancho del texto */
  }
  .header__nav__list li a:hover {
    color: #08A6E4;
  }
  .header__nav__list__list__item .underline {
    display: block;
    width: 0;
    /* Inicialmente la barra no tiene ancho */
    height: 0.25rem;
    /* Altura de la barra */
    background-color: #08A6E4;
    /* Color de la barra */
    position: absolute;
    bottom: -1.6rem;
    /* Posición debajo del texto */
    left: -0.625rem;
    transition: width 0.3s ease;
    /* Animación suave */
  }
  .header__nav__list__list__item:hover .underline {
    width: 150%;
    /* La barra se expande al 100% del ancho del texto */
  }
}
/* Section style */
.section__advantages {
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #F7F7F7;
}

/* Frames styles */
.section__advantages__first__frame {
  width: 19.625rem;
  height: 23.125rem;
  top: 1.25rem;
  border-radius: 0.3125rem;
  border: 1px solid #E8E9ED;
  background-color: #FFFFFF;
  position: relative;
  margin: 2.625rem 1.9375rem 2.5625rem 1.875rem;
}

.section__advantages__second__frame {
  width: 19.6875rem;
  height: 23.125rem;
  top: auto;
  border-radius: 0.3125rem;
  border: 1px solid #E8E9ED;
  background-color: #FFFFFF;
  position: relative;
  margin: 2.625rem 1.9375rem 2.5625rem 1.875rem;
}

.section__advantages__third__frame {
  width: 19.625rem;
  height: 18.625rem;
  top: auto;
  border-radius: 0.3125rem;
  border: 1px solid #E8E9ED;
  background-color: #FFFFFF;
  position: relative;
  margin: 2.625rem 1.9375rem 2.5625rem 1.875rem;
}

/* Third frame extension style */
.section__advantages__third__frame__extension {
  width: 19.625rem;
  height: 12.1875rem;
  top: auto;
  bottom: auto;
  left: auto;
}

/* Image styles */
.section__advantages__first__frame img {
  width: 12.0475rem;
  height: 6.8706rem;
  top: 2.3194rem;
  left: 4rem;
  z-index: 2;
  position: relative;
}

.section__advantages__second__frame img {
  width: 12.0475rem;
  height: 6.8706rem;
  top: 3rem;
  left: 6rem;
  z-index: 2;
  position: relative;
}

.section__advantages__third__frame__extension img {
  width: 18.4831rem;
  height: 12.9825rem;
  top: auto;
  left: 1.7rem;
  z-index: 2;
  position: relative;
  bottom: 1.25rem;
}

/* Ellipse styles*/
.section__advantages__first__frame__ellipse {
  width: 5.6325rem;
  height: 5.6325rem;
  bottom: 6.25rem;
  left: 12.5rem;
  border-radius: 2.5625rem;
  transform: rotate(45deg);
  background-color: #FB3B64;
  position: relative;
}

.section__advantages__second__frame__ellipse {
  width: 8.2425rem;
  height: 8.2312rem;
  bottom: 5.625rem;
  left: 6.25rem;
  border-radius: 50%;
  transform: rotate(0deg);
  background-color: #08A6E4;
  position: relative;
}

.section__advantages__third__frame__extension__rectangle {
  width: 19.625rem;
  height: 12.1875rem;
  bottom: 16.25rem;
  left: 1.9rem;
  border-radius: 0.3125rem;
  transform: rotate(1px solid #F2F2F2);
  background-color: #55DFB4;
  position: relative;
}

/* Rectangle style (3rd frame) */
/* Text styles */
.section__advantages__first__frame h2 {
  width: 12.375rem;
  height: 4.5rem;
  bottom: auto;
  top: auto;
  left: 1.375rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 2.2012rem;
  position: relative;
}

.section__advantages__first__frame p {
  width: 17rem;
  height: 5.25rem;
  bottom: auto;
  top: auto;
  left: 1.3125rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.3125rem;
  position: relative;
}

.section__advantages__second__frame h2 {
  width: 13.625rem;
  height: 4.375rem;
  bottom: 4rem;
  top: auto;
  left: 1.375rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 2.2012rem;
  position: relative;
}

.section__advantages__second__frame p {
  width: 17rem;
  height: 4.8125rem;
  bottom: 3rem;
  top: auto;
  left: 1.3125rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.1875rem;
  position: relative;
}

.section__advantages__third__frame h2 {
  width: 17.125rem;
  height: 6.8125rem;
  bottom: auto;
  top: 1rem;
  left: 1.375rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 2.2012rem;
  position: relative;
}

.section__advantages__third__frame p {
  width: 17.125rem;
  height: 7.125rem;
  bottom: auto;
  top: 1.875rem;
  left: 1.3125rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3619rem;
  position: relative;
}

/* Text styles */
.section__cards__pricing h2 {
  width: 7.125rem;
  height: 2.625rem;
  bottom: auto;
  top: 1rem;
  left: 8rem;
  font-family: "Raleway", sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 2.6412rem;
  position: relative;
}

/* Pricing card style */
.section__cards__pricing__first-card {
  width: 18.3125rem;
  height: 15.6875rem;
  top: auto;
  left: 3rem;
  margin-bottom: 3rem;
  border-radius: 1.125rem;
  border: 1px solid #FB3B64;
  margin-top: 1.875rem;
  position: relative;
}

.section__cards__pricing__second-card {
  width: 18.3125rem;
  height: 15.6875rem;
  top: auto;
  left: 3rem;
  margin-bottom: 4rem;
  border-radius: 1.125rem;
  border: 1px solid #08A6E4;
  margin-top: 1.875rem;
  position: relative;
}

.section__cards__pricing__third-card {
  width: 18.3125rem;
  height: 15.6875rem;
  top: auto;
  left: 3rem;
  margin-bottom: 3rem;
  border-radius: 1.125rem;
  border: 1px solid #55DFB4;
  margin-top: 1.875rem;
  position: relative;
}

/* First cards style (h3, p) */
.section__cards__pricing__first-card h3 {
  width: 3.25rem;
  height: 1.5rem;
  top: 4.375rem;
  left: 3.125rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: #13253B;
  position: relative;
}

.section__cards__pricing__first-card-pPrice {
  width: 3.6875rem;
  height: 4rem;
  top: 4rem;
  left: 2.8125rem;
  font-family: "Open Sans", sans-serif;
  font-size: 2.875rem;
  font-weight: 300;
  line-height: 4rem;
  color: #FB3B64;
  position: relative;
}

.section__cards__pricing__second-card h3 {
  width: 3.25rem;
  height: 1.5rem;
  top: 4.375rem;
  left: 1.5rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: #13253B;
  position: relative;
}

.section__cards__pricing__second-card__pPrice {
  width: 3.6875rem;
  height: 4rem;
  top: 4rem;
  left: 2.8125rem;
  font-family: "Open Sans", sans-serif;
  font-size: 2.875rem;
  font-weight: 300;
  line-height: 4rem;
  color: #08A6E4;
  position: relative;
}

.section__cards__pricing__second-card__pLo {
  width: 4.625rem;
  height: 0.875rem;
  top: 5rem;
  left: 3.1875rem;
  font-family: "Raleway", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.8806rem;
  color: #13253B;
  position: relative;
}

.section__cards__pricing__third-card h3 {
  width: 3.25rem;
  height: 1.5rem;
  top: 4.375rem;
  left: 1.5rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: #13253B;
  position: relative;
}

.section__cards__pricing__third-card__pPrice {
  width: 3.6875rem;
  height: 4rem;
  top: 4rem;
  left: 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-size: 2.875rem;
  font-weight: 300;
  line-height: 4rem;
  color: #55DFB4;
  position: relative;
}

.section__cards__pricing__third-card__pLo {
  width: 4.625rem;
  height: 0.875rem;
  top: 5rem;
  left: 2rem;
  font-family: "Raleway", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.8806rem;
  color: #13253B;
  position: relative;
}

/* List cards style */
.section__cards__pricing__first-card ul {
  width: 8.5rem;
  height: 8rem;
  top: auto;
  bottom: 4rem;
  left: 8rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.1919rem;
  color: #000000;
  list-style: none;
  position: relative;
}

.section__cards__pricing__second-card ul {
  width: 8.5rem;
  height: 8rem;
  top: auto;
  bottom: 4rem;
  left: 10rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.1919rem;
  color: #000000;
  list-style: none;
  position: relative;
}

.section__cards__pricing__third-card ul {
  width: 8.5rem;
  height: 8rem;
  top: auto;
  bottom: 4rem;
  left: 10rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.1919rem;
  color: #000000;
  list-style: none;
  position: relative;
}

/* Li */
.section__cards__pricing__first-card ul li {
  margin-bottom: 0.9rem;
}

.section__cards__pricing__second-card ul li {
  margin-bottom: 0.9rem;
}

.section__cards__pricing__third-card ul li {
  margin-bottom: 0.9rem;
}

/* Li p */
.section__cards__pricing__first-card ul li p {
  margin-left: 0.2rem;
  display: inline-block;
}

.section__cards__pricing__second-card ul li p {
  margin-left: 0.2rem;
  display: inline-block;
}

.section__cards__pricing__third-card ul li p {
  margin-left: 0.2rem;
  display: inline-block;
}

/* Button style */
.section__cards__pricing__first-card__bt {
  width: 9.375rem;
  height: 3.125rem;
  top: 0.5rem;
  left: 4rem;
  bottom: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.1062rem;
  color: #FFFFFF;
  background-color: #FB3B64;
  border: 2.5rem;
  border-radius: 1.4375rem;
  position: relative;
}

.section__cards__pricing__second-card__bt {
  width: 9.375rem;
  height: 3.125rem;
  top: auto;
  left: 4rem;
  bottom: 0.2rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.1062rem;
  color: #FFFFFF;
  background-color: #08A6E4;
  border: 2.5rem;
  border-radius: 1.4375rem;
  position: relative;
}

.section__cards__pricing__third-card__bt {
  width: 9.375rem;
  height: 3.125rem;
  top: auto;
  left: 4rem;
  bottom: 0.2rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.1062rem;
  color: #FFFFFF;
  background-color: #55DFB4;
  border: 2.5rem;
  border-radius: 1.4375rem;
  position: relative;
}

.section__marketing {
  width: 100%;
  height: 100%;
  padding-top: 6.25rem;
}

.section__marketing__h1 {
  font-family: "Raleway", sans-serif;
  width: 11.25rem;
  height: 2.5625rem;
  font-weight: 400;
  font-size: 2.1875rem;
  position: relative;
  left: 7rem;
}

.section__marketing__p {
  width: 20.125rem;
  height: 2.5625rem;
  font-weight: 25rem;
  font-size: 1.125rem;
  margin: 0 auto;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.section__marketing__btn {
  width: 19.375rem;
  height: 4.1875rem;
  background-color: #08A6E4;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 700;
  border: none;
  margin: 0 auto;
  display: block;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  cursor: pointer;
  border-radius: 2.5rem;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
}

.section__marketing__img {
  width: 48.6875rem;
  height: 16.6875rem;
  position: relative;
  left: -12.5938rem;
}

.section__marketing__container {
  width: 18.9375rem;
  height: 7rem;
}

.section__marketing__containerh2__h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 1.875rem;
  line-height: 2.1875rem;
  text-align: center;
}

.section__marketing__icons {
  width: 2.75rem;
  height: 3.25rem;
}

/* Ellipse divs */
.section__marketing__ellipse__div__red__box {
  display: block;
  position: relative;
  width: 25rem;
  height: 10rem;
}

.section__marketing__ellipse__div__blue__box {
  display: block;
  position: relative;
  width: 25rem;
  height: 10rem;
}

.section__marketing__ellipse__div__green__box {
  display: block;
  position: relative;
  width: 25rem;
  height: 10rem;
}

/* Styles of the ellipse and icon box */
.section__marketing__ellipse__div__red--ellipse {
  border: 1px solid red;
  width: 3.9194rem;
  position: absolute;
  bottom: 2.5rem;
  left: 1.25rem;
  z-index: 1;
}

.section__marketing__ellipse__div__blue--ellipse {
  border: 1px solid red;
  width: 3.9194rem;
  position: absolute;
  bottom: 2.5rem;
  left: 1.25rem;
  z-index: 1;
}

.section__marketing__ellipse__div__green--ellipse {
  border: 1px solid red;
  width: 3.9194rem;
  position: absolute;
  bottom: 2.5rem;
  left: 1.25rem;
  z-index: 1;
}

/* Ellipse styles */
.section__marketing__ellipse__div__red--ellipse {
  width: 3.9194rem;
  height: 3.9194rem;
  background-color: #FB3B64;
  border-radius: 50%;
  position: relative;
  left: 10.5rem;
  top: 1.25rem;
}

.section__marketing__ellipse__div__blue--ellipse2 {
  width: 3.9194rem;
  height: 3.9194rem;
  background-color: #08A6E4;
  border-radius: 50%;
  position: relative;
  left: 10.5rem;
  top: 1.25rem;
}

.section__marketing__ellipse__div__green--ellipse3 {
  width: 3.9194rem;
  height: 3.9194rem;
  background-color: #55DFB4;
  border-radius: 50%;
  position: relative;
  left: 10.5rem;
  top: 1.25rem;
}

/* Styles of the icon */
.section__marketing__ellipse__div__red__icon__box__icon {
  content: url("../resources/svg/Person2.svg");
  width: 2.75rem;
  height: 3.25rem;
  position: absolute;
  left: 12rem;
  top: 1rem;
  z-index: 2;
}

.section__marketing__ellipse__div__blue__icon__box__icon {
  content: url("../resources/svg/Eye2.svg");
  width: 4.0894rem;
  height: 2.2813rem;
  position: absolute;
  left: 12rem;
  top: 2rem;
  z-index: 2;
}

.section__marketing__ellipse__div__green__icon__box__icon {
  content: url("../resources/svg/Catalog2.svg");
  width: 3.25rem;
  height: 3rem;
  position: absolute;
  left: 12rem;
  top: 1.8rem;
  z-index: 2;
}

/* Styles of the number entries */
.section__marketing__ellipse__div__red__numberEntries--p1 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  text-align: center;
  position: relative;
  bottom: 3.5rem;
}

.section__marketing__ellipse__div__blue__numberEntries--p1 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  text-align: center;
  position: relative;
  bottom: 3.5rem;
}

.section__marketing__ellipse__div__green__numberEntries--p1 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  text-align: center;
  position: relative;
  bottom: 3.5rem;
}

.section__marketing__ellipse__div__red__numberEntries--p2 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.0625rem;
  color: #A5A5A5;
  text-align: center;
  position: relative;
  bottom: 3.5rem;
}

.section__marketing__ellipse__div__blue__numberEntries--p2 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.0625rem;
  color: #A5A5A5;
  text-align: center;
  position: relative;
  bottom: 3.5rem;
}

.section__marketing__ellipse__div__green__numberEntries--p2 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.0625rem;
  color: #A5A5A5;
  text-align: center;
  position: relative;
  bottom: 3.5rem;
}

/* Styles of the hr */
.section__advantages__first__frame hr {
  display: none;
}

.section__advantages__second__frame hr {
  display: none;
}

.section__advantages__third__frame hr {
  display: none;
}

/* Desktop version */
@media screen and (min-width: 768px) {
  .section__marketing__h1 {
    width: 14.125rem;
    height: 3.5625rem;
    bottom: auto;
    top: auto;
    left: 44%;
    font-family: "Raleway", sans-serif;
    font-size: 3.0625rem;
    font-weight: 400;
    line-height: 3.5625rem;
    position: relative;
  }
  .section__marketing__p {
    width: 30rem;
    height: 1.375rem;
    bottom: auto;
    top: auto;
    left: auto;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;
    position: relative;
  }
  .section__marketing__btn {
    width: 27.5rem;
    height: 4.1875rem;
    top: auto;
    left: auto;
    bottom: auto;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.375rem;
    color: #FFFFFF;
    background-color: #08A6E4;
    border: 2.5rem;
    border-radius: 1.4375rem;
    position: relative;
  }
  .section__marketing__img {
    width: 110%;
    height: 20%;
    position: relative;
  }
  .section_marketing__ellipse__container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }
}
.section__contact {
  height: 30rem;
}

/* H2 Style */
.section__contact__div h2 {
  width: 17.5rem;
  height: 2.9375rem;
  bottom: auto;
  top: auto;
  left: 2rem;
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.9181rem;
  position: relative;
}

/* P Style */
.section__contact__div p:not(p[class=section__contact__div__consent]) {
  width: 19.5rem;
  height: 1.375rem;
  bottom: auto;
  top: auto;
  left: 2rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem;
  position: relative;
}

/* Image Style */
.section__contact__div img {
  width: 1.6875rem;
  height: 1.6875rem;
  top: auto;
  left: 2rem;
  z-index: auto;
  position: relative;
}

/* Href Style */
.section__contact__div a {
  text-decoration: none;
}

/* P Href Style */
.section__contact__div a p {
  width: 9.0625rem;
  height: 1.375rem;
  bottom: auto;
  top: auto;
  left: 2.1619rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.375rem;
  position: relative;
  color: #A5A5A5;
  display: inline-block;
}

/* Form Style*/
.section__contact__div form {
  width: 19.5rem;
  height: 9.8125rem;
  top: 2rem;
  left: 1.875rem;
  bottom: auto;
  position: relative;
}

/* Label Style */
.section__contact__div label {
  width: auto;
  height: auto;
  bottom: auto;
  top: 0.8rem;
  left: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 0.6875rem;
  font-weight: 600;
  line-height: 0.9363rem;
  position: relative;
  color: #08A6E4;
}

/* Input Style */
.section__contact__div input {
  width: 19.5rem;
  height: 0rem;
  top: 0.8rem;
  left: auto;
  bottom: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  color: #A5A5A5;
  border: 1px solid #95989A;
  position: relative;
}

/* Consent Style */
.section__contact__div input[type=checkbox] {
  width: 1.5rem;
  height: 1.5rem;
  top: 2rem;
  left: auto;
  bottom: auto;
  position: relative;
  appearance: none;
}

.section__contact__div input[type=checkbox]:checked::after {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-image: url(../resources/svg/Checkmark.svg);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section__contact__div__consent {
  width: 17.3125rem;
  height: 9rem;
  bottom: auto;
  top: auto;
  left: 2.5rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.04rem;
  position: relative;
  color: #707070;
}

/* Button Style */
.section__contact__div__form__button {
  width: 14.125rem;
  height: 3.5625rem;
  top: auto;
  left: 3rem;
  bottom: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.1062rem;
  color: #FFFFFF;
  background-color: #08A6E4;
  border: none;
  border-radius: 2.5rem;
  position: relative;
}

footer {
  width: 100%;
  height: 5.5625rem;
  position: absolute;
  box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.2);
}

.footer-text h2 {
  width: 12.5rem;
  height: 1.875rem;
  bottom: auto;
  top: 1.405rem;
  left: 1.0625rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.625rem;
  font-weight: 300;
  line-height: 1.875rem;
  position: relative;
  color: #08A6E4;
}

.footer-text p {
  width: 11.6875rem;
  height: 0.9375rem;
  bottom: auto;
  top: 1.5rem;
  left: 1.0625rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 0.9363rem;
  position: relative;
  color: #A5A5A5;
}

.footer-text img {
  position: relative;
  left: 19rem;
  margin-right: 0.7rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
