@charset "UTF-8";
/* Colors */
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.header {
  height: 4.375rem;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2901960784);
}

.header__logo {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: #08A6E4;
  margin-left: 1.5625rem;
  width: 60%;
  top: 0.9375rem;
  position: relative;
}

.header__button__hamburger {
  background-color: transparent;
  border: none;
  width: 1.25rem;
  height: 0.875rem;
  margin-left: 20rem;
  position: relative;
  bottom: 0.6rem;
}

.header__nav__list {
  display: none;
  width: 100%;
  height: 10.9781rem;
  position: absolute;
  background-color: #FFFFFF;
  z-index: 4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2901960784);
  list-style: none;
}

.header__nav__list li {
  margin-top: 1.25rem;
  margin-left: 2rem;
}

.header__nav__list a {
  font-family: "Open Sans", sans-serif;
  font-size: 0.6875rem;
  font-weight: 700;
  line-height: 0.9375rem;
  color: #A5A5A5;
  text-decoration: none;
}

.header__nav__list a:hover {
  color: #000000;
}

.header__nav__list__list__item {
  margin-top: 1.25rem;
}

/* Desktop */
@media screen and (min-width: 768px) {
  .header {
    height: 70px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .header__logo {
    font-size: 2rem;
    margin-left: 3.125rem;
    margin-bottom: 1.6rem;
  }
  .header__button__hamburger {
    display: none;
  }
  .header__nav__list {
    display: flex;
    box-shadow: none;
    background-color: transparent;
    height: auto;
    position: static;
    width: max-content;
  }
  .header__nav__list li {
    list-style: none;
    margin-right: 5rem;
    position: relative;
    /* Necesario para posicionar la barra */
  }
  .header__nav__list li a {
    font-family: "Open Sans", sans-serif;
    font-size: 0.6875rem;
    font-weight: 700;
    line-height: 0.9375rem;
    color: #000000;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
    /* Asegura que el span ocupe el ancho del texto */
  }
  .header__nav__list li a:hover {
    color: #08A6E4;
  }
  .header__nav__list__list__item .underline {
    display: block;
    width: 0;
    /* Inicialmente la barra no tiene ancho */
    height: 0.25rem;
    /* Altura de la barra */
    background-color: #08A6E4;
    /* Color de la barra */
    position: absolute;
    bottom: -0.4rem;
    /* Posición debajo del texto */
    left: -0.625rem;
    transition: width 0.3s ease;
    /* Animación suave */
  }
  .header__nav__list__list__item:hover .underline {
    width: 150%;
    /* La barra se expande al 100% del ancho del texto */
  }
}
/* Section style */
.section__advantages {
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #F7F7F7;
}

/* Frames styles */
.section__advantages__first__frame {
  width: 19.625rem;
  height: 23.125rem;
  top: 1.25rem;
  border-radius: 0.3125rem;
  border: 1px solid #E8E9ED;
  background-color: #FFFFFF;
  position: relative;
  margin: 2.625rem 1.9375rem 2.5625rem 1.875rem;
}

.section__advantages__second__frame {
  width: 19.6875rem;
  height: 23.125rem;
  top: auto;
  border-radius: 0.3125rem;
  border: 1px solid #E8E9ED;
  background-color: #FFFFFF;
  position: relative;
  margin: 2.625rem 1.9375rem 2.5625rem 1.875rem;
}

.section__advantages__third__frame {
  width: 19.625rem;
  height: 18.625rem;
  top: auto;
  border-radius: 0.3125rem;
  border: 1px solid #E8E9ED;
  background-color: #FFFFFF;
  position: relative;
  margin: 2.625rem 1.9375rem 2.5625rem 1.875rem;
}

/* Third frame extension style */
.section__advantages__third__frame__extension {
  width: 19.625rem;
  height: 12.1875rem;
  top: auto;
  bottom: auto;
  left: auto;
}

/* Image styles */
.section__advantages__first__frame img {
  width: 12.0475rem;
  height: 6.8706rem;
  top: 2.3194rem;
  left: 4rem;
  z-index: 2;
  position: relative;
}

.section__advantages__second__frame img {
  width: 12.0475rem;
  height: 6.8706rem;
  top: 3rem;
  left: 6rem;
  z-index: 2;
  position: relative;
}

.section__advantages__third__frame__extension img {
  width: 18.4831rem;
  height: 12.9825rem;
  top: auto;
  left: 1.7rem;
  z-index: 2;
  position: relative;
  bottom: 1.25rem;
}

/* Ellipse styles*/
.section__advantages__first__frame__ellipse {
  width: 5.6325rem;
  height: 5.6325rem;
  bottom: 6.25rem;
  left: 12.5rem;
  border-radius: 2.5625rem;
  transform: rotate(45deg);
  background-color: #FB3B64;
  position: relative;
}

.section__advantages__second__frame__ellipse {
  width: 8.2425rem;
  height: 8.2312rem;
  bottom: 5.625rem;
  left: 6.25rem;
  border-radius: 50%;
  transform: rotate(0deg);
  background-color: #08A6E4;
  position: relative;
}

.section__advantages__third__frame__extension__rectangle {
  width: 19.625rem;
  height: 12.1875rem;
  bottom: 16.25rem;
  left: 1.9rem;
  border-radius: 0.3125rem;
  transform: rotate(1px solid #F2F2F2);
  background-color: #55DFB4;
  position: relative;
}

/* Rectangle style (3rd frame) */
/* Text styles */
.section__advantages__first__frame h2 {
  width: 12.375rem;
  height: 4.5rem;
  bottom: auto;
  top: auto;
  left: 1.375rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 2.2012rem;
  position: relative;
}

.section__advantages__first__frame p {
  width: 17rem;
  height: 5.25rem;
  bottom: auto;
  top: auto;
  left: 1.3125rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.3125rem;
  position: relative;
}

.section__advantages__second__frame h2 {
  width: 13.625rem;
  height: 4.375rem;
  bottom: 4rem;
  top: auto;
  left: 1.375rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 2.2012rem;
  position: relative;
}

.section__advantages__second__frame p {
  width: 17rem;
  height: 4.8125rem;
  bottom: 3rem;
  top: auto;
  left: 1.3125rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.1875rem;
  position: relative;
}

.section__advantages__third__frame h2 {
  width: 17.125rem;
  height: 6.8125rem;
  bottom: auto;
  top: 1rem;
  left: 1.375rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 2.2012rem;
  position: relative;
}

.section__advantages__third__frame p {
  width: 17.125rem;
  height: 7.125rem;
  bottom: auto;
  top: 1.875rem;
  left: 1.3125rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3619rem;
  position: relative;
}

/* Styles of the hr */
.section__advantages__first__frame hr {
  display: none;
}

.section__advantages__second__frame hr {
  display: none;
}

.section__advantages__third__frame hr {
  display: none;
}

/* Desktop version */
@media screen and (min-width: 768px) {
  .section__advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section__advantages__first__frame,
  .section__advantages__second__frame {
    width: 60%;
  }
  .section__advantages__third__frame {
    height: 23.125rem;
    width: 33%;
    right: 15.4rem;
  }
  .section__advantages__first__frame img {
    width: 24.1525rem;
    height: 13.6875rem;
    top: 2.3194rem;
    left: 50%;
    top: 30%;
  }
  .section__advantages__first__frame__ellipse {
    width: 11.25rem;
    height: 11.25rem;
    z-index: 0;
    left: 70%;
    bottom: 45%;
  }
  .section__advantages__first__frame h2 {
    width: 14.8125rem;
    height: 2.625rem;
    font-size: 2.25rem;
    bottom: 80%;
  }
  .section__advantages__first__frame p {
    width: 26rem;
    height: 4.125rem;
    font-size: 1rem;
    bottom: 75%;
  }
  .section__advantages__first__frame p::after {
    content: "";
    display: block;
    position: relative;
    border: 2px solid #FB3B64;
    margin-top: 12%;
    width: 20.4775rem;
  }
  .section__advantages__second__frame img {
    width: 26.625rem;
    height: 20.5rem;
    top: 2.3194rem;
    left: 1%;
    top: 10%;
  }
  .section__advantages__second__frame__ellipse {
    width: 20rem;
    height: 20rem;
    z-index: 0;
    left: 2%;
    bottom: 85%;
  }
  .section__advantages__second__frame h2 {
    width: 16.1875rem;
    height: 5.25rem;
    font-size: 2.25rem;
    left: 60%;
    bottom: 150%;
  }
  .section__advantages__second__frame p {
    width: 26rem;
    height: 4.125rem;
    font-size: 1rem;
    left: 60%;
    bottom: 147%;
  }
  .section__advantages__second__frame p::after {
    content: "";
    display: block;
    position: relative;
    border: 2px solid #08A6E4;
    margin-top: 12%;
    width: 20.4775rem;
  }
  .section__advantages__third__frame__extension img {
    width: 26.625rem;
    height: 20.5rem;
    left: 90%;
    bottom: 180%;
  }
  .section__advantages__third__frame__extension__rectangle {
    width: 27.5rem;
    height: 23.125rem;
    z-index: 0;
    left: 87%;
    bottom: 381%;
  }
  .section__advantages__third__frame h2 {
    width: 21.75rem;
    height: 5.25rem;
    font-size: 2.25rem;
    left: 5%;
    top: 20%;
  }
  .section__advantages__third__frame p {
    width: 26rem;
    height: 4.125rem;
    font-size: 1rem;
    left: 5%;
    top: 25%;
  }
  .section__advantages__third__frame p::after {
    content: "";
    display: block;
    position: relative;
    border: 2px solid #55DFB4;
    margin-top: 12%;
    width: 20.4775rem;
  }
}
/* Text styles */
.section__cards__pricing h2 {
  width: 7.125rem;
  height: 2.625rem;
  bottom: auto;
  top: 1rem;
  left: 8rem;
  font-family: "Raleway", sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 2.6412rem;
  position: relative;
}

.section__cards__pricing__select {
  position: relative;
  margin-top: 6%;
  left: 39%;
  width: auto;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 40px;
  background-color: #fff;
  font-size: 16px;
  color: #08A6E4;
  border-color: #08A6E4;
  appearance: none;
  /* Elimina el estilo por defecto del select */
  -webkit-appearance: none;
  /* Para navegadores basados en WebKit */
  -moz-appearance: none;
  /* Para Firefox */
  cursor: pointer;
}

/* Pricing card style */
.section__cards__pricing__first-card {
  width: 18.3125rem;
  height: 15.6875rem;
  top: auto;
  left: 3rem;
  margin-bottom: 3rem;
  border-radius: 1.125rem;
  border: 1px solid #FB3B64;
  margin-top: 1.875rem;
  position: relative;
}

.section__cards__pricing__second-card {
  width: 18.3125rem;
  height: 15.6875rem;
  top: auto;
  left: 3rem;
  margin-bottom: 4rem;
  border-radius: 1.125rem;
  border: 1px solid #08A6E4;
  margin-top: 1.875rem;
  position: relative;
}

.section__cards__pricing__third-card {
  width: 18.3125rem;
  height: 15.6875rem;
  top: auto;
  left: 3rem;
  margin-bottom: 3rem;
  border-radius: 1.125rem;
  border: 1px solid #55DFB4;
  margin-top: 1.875rem;
  position: relative;
}

/* First cards style (h3, p) */
.section__cards__pricing__first-card h3 {
  width: 3.25rem;
  height: 1.5rem;
  top: 4.375rem;
  left: 3.125rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: #13253B;
  position: relative;
}

.section__cards__pricing__first-card-pPrice {
  width: 3.6875rem;
  height: 4rem;
  top: 4rem;
  left: 2.8125rem;
  font-family: "Open Sans", sans-serif;
  font-size: 2.875rem;
  font-weight: 300;
  line-height: 4rem;
  color: #FB3B64;
  position: relative;
}

.section__cards__pricing__second-card h3 {
  width: 3.25rem;
  height: 1.5rem;
  top: 4.375rem;
  left: 1.5rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: #13253B;
  position: relative;
}

.section__cards__pricing__second-card__pPrice {
  width: 3.6875rem;
  height: 4rem;
  top: 4rem;
  left: 2.8125rem;
  font-family: "Open Sans", sans-serif;
  font-size: 2.875rem;
  font-weight: 300;
  line-height: 4rem;
  color: #08A6E4;
  position: relative;
}

.section__cards__pricing__second-card__pLo {
  width: 4.625rem;
  height: 0.875rem;
  top: 5rem;
  left: 3.1875rem;
  font-family: "Raleway", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.8806rem;
  color: #13253B;
  position: relative;
}

.section__cards__pricing__third-card h3 {
  width: 3.25rem;
  height: 1.5rem;
  top: 4.375rem;
  left: 1.5rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: #13253B;
  position: relative;
}

.section__cards__pricing__third-card__pPrice {
  width: 3.6875rem;
  height: 4rem;
  top: 4rem;
  left: 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-size: 2.875rem;
  font-weight: 300;
  line-height: 4rem;
  color: #55DFB4;
  position: relative;
}

.section__cards__pricing__third-card__pLo {
  width: 4.625rem;
  height: 0.875rem;
  top: 5rem;
  left: 2rem;
  font-family: "Raleway", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.8806rem;
  color: #13253B;
  position: relative;
}

/* List cards style */
.section__cards__pricing__first-card ul {
  width: 8.5rem;
  height: 8rem;
  top: auto;
  bottom: 4rem;
  left: 8rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.1919rem;
  color: #000000;
  list-style: none;
  position: relative;
}

.section__cards__pricing__second-card ul {
  width: 8.5rem;
  height: 8rem;
  top: auto;
  bottom: 4rem;
  left: 10rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.1919rem;
  color: #000000;
  list-style: none;
  position: relative;
}

.section__cards__pricing__third-card ul {
  width: 8.5rem;
  height: 8rem;
  top: auto;
  bottom: 4rem;
  left: 10rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.1919rem;
  color: #000000;
  list-style: none;
  position: relative;
}

/* Li */
.section__cards__pricing__first-card ul li {
  margin-bottom: 0.9rem;
}

.section__cards__pricing__second-card ul li {
  margin-bottom: 0.9rem;
}

.section__cards__pricing__third-card ul li {
  margin-bottom: 0.9rem;
}

/* Li p */
.section__cards__pricing__first-card ul li p {
  margin-left: 0.2rem;
  display: inline-block;
}

.section__cards__pricing__second-card ul li p {
  margin-left: 0.2rem;
  display: inline-block;
}

.section__cards__pricing__third-card ul li p {
  margin-left: 0.2rem;
  display: inline-block;
}

/* Button style */
.section__cards__pricing__first-card__bt {
  width: 9.375rem;
  height: 3.125rem;
  top: 0.5rem;
  left: 4rem;
  bottom: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.1062rem;
  color: #FFFFFF;
  background-color: #FB3B64;
  border: 2.5rem;
  border-radius: 1.4375rem;
  position: relative;
  cursor: pointer;
}

.section__cards__pricing__second-card__bt {
  width: 9.375rem;
  height: 3.125rem;
  top: auto;
  left: 4rem;
  bottom: 0.2rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.1062rem;
  color: #FFFFFF;
  background-color: #08A6E4;
  border: 2.5rem;
  border-radius: 1.4375rem;
  position: relative;
  cursor: pointer;
}

.section__cards__pricing__third-card__bt {
  width: 9.375rem;
  height: 3.125rem;
  top: auto;
  left: 4rem;
  bottom: 0.2rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.1062rem;
  color: #FFFFFF;
  background-color: #55DFB4;
  border: 2.5rem;
  border-radius: 1.4375rem;
  position: relative;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .section__cards__pricing__div {
    display: flex;
    justify-content: center;
    margin-bottom: 2.75rem;
  }
  .section__cards__pricing h2 {
    margin-left: 40%;
  }
  .section__cards__pricing__select {
    position: relative;
    margin-top: 3%;
    left: 47%;
  }
  .section__cards__pricing__first-card,
  .section__cards__pricing__second-card,
  .section__cards__pricing__third-card {
    width: 23.25rem;
    height: 28.8125rem;
    margin-right: 3%;
  }
  .section__cards__pricing__first-card:hover {
    width: 25rem;
    height: 30.3125rem;
    transition-duration: 0.3s;
    box-shadow: 5px 10px 27px 0px #FB3B64;
  }
  .section__cards__pricing__first-card:hover .section__cards__pricing__first-card__bt {
    transition-duration: 0.3s;
    top: 34.5%;
  }
  .section__cards__pricing__second-card:hover {
    width: 25rem;
    height: 30.3125rem;
    transition-duration: 0.3s;
    box-shadow: 5px 10px 27px 0px #08A6E4;
  }
  .section__cards__pricing__second-card:hover .section__cards__pricing__second-card__bt {
    transition-duration: 0.3s;
    top: 25%;
  }
  .section__cards__pricing__third-card:hover {
    width: 25rem;
    height: 30.3125rem;
    transition-duration: 0.3s;
    box-shadow: 5px 10px 27px 0px #55DFB4;
  }
  .section__cards__pricing__third-card:hover .section__cards__pricing__third-card__bt {
    transition-duration: 0.3s;
    top: 25%;
  }
  .section__cards__pricing__first-card ul {
    width: 50%;
    height: 40%;
    top: 25%;
  }
  .section__cards__pricing__first-card h3 {
    width: 30%;
    height: 10%;
    top: 10%;
    left: 40%;
  }
  .section__cards__pricing__first-card-pPrice {
    width: 30%;
    height: 10%;
    top: 10%;
    left: 38%;
  }
  .section__cards__pricing__first-card__bt {
    left: 27%;
    top: 35%;
  }
  .section__cards__pricing__second-card h3 {
    width: 30%;
    height: 10%;
    top: 8%;
    left: 35%;
  }
  .section__cards__pricing__second-card__pPrice {
    width: 30%;
    height: 10%;
    top: 8%;
    left: 39%;
  }
  .section__cards__pricing__second-card__pLo {
    width: 30%;
    height: 10%;
    top: 12%;
    left: 40%;
  }
  .section__cards__pricing__second-card ul {
    width: 50%;
    height: 40%;
    top: 14%;
    left: 35%;
  }
  .section__cards__pricing__second-card__bt {
    left: 28%;
    top: 25%;
  }
  .section__cards__pricing__third-card h3 {
    width: 30%;
    height: 10%;
    top: 8%;
    left: 37%;
  }
  .section__cards__pricing__third-card__pPrice {
    width: 30%;
    height: 10%;
    top: 8%;
    left: 39%;
  }
  .section__cards__pricing__third-card__pLo {
    width: 30%;
    height: 10%;
    top: 12%;
    left: 40%;
  }
  .section__cards__pricing__third-card ul {
    width: 50%;
    height: 40%;
    top: 14%;
    left: 35%;
  }
  .section__cards__pricing__third-card__bt {
    left: 28%;
    top: 25%;
  }
}
.section__marketing {
  width: 100%;
  height: 100%;
  padding-top: 6.25rem;
}

.section__marketing__h1 {
  font-family: "Raleway", sans-serif;
  width: 11.25rem;
  height: 2.5625rem;
  font-weight: 400;
  font-size: 2.1875rem;
  position: relative;
  left: 7rem;
}

.section__marketing__p {
  width: 20.125rem;
  height: 2.5625rem;
  font-weight: 25rem;
  font-size: 1.125rem;
  margin: 0 auto;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.section__marketing__btn {
  width: 19.375rem;
  height: 4.1875rem;
  background-color: #08A6E4;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 700;
  border: none;
  margin: 0 auto;
  display: block;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  cursor: pointer;
  border-radius: 2.5rem;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
}

.section__marketing__img {
  width: 48.6875rem;
  height: 16.6875rem;
  position: relative;
  left: -12.5938rem;
}

.section__marketing__container {
  width: 18.9375rem;
  height: 7rem;
}

.section__marketing__containerh2__h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 1.875rem;
  line-height: 2.1875rem;
  text-align: center;
}

.section__marketing__icons {
  width: 2.75rem;
  height: 3.25rem;
}

/* Ellipse divs */
.section__marketing__ellipse__div__red__box {
  display: block;
  position: relative;
  width: 25rem;
  height: 10rem;
}

.section__marketing__ellipse__div__blue__box {
  display: block;
  position: relative;
  width: 25rem;
  height: 10rem;
}

.section__marketing__ellipse__div__green__box {
  display: block;
  position: relative;
  width: 25rem;
  height: 10rem;
}

/* Styles of the ellipse and icon box */
.section__marketing__ellipse__div__red--ellipse {
  border: 1px solid red;
  width: 3.9194rem;
  position: absolute;
  bottom: 2.5rem;
  left: 1.25rem;
  z-index: 1;
}

.section__marketing__ellipse__div__blue--ellipse {
  border: 1px solid red;
  width: 3.9194rem;
  position: absolute;
  bottom: 2.5rem;
  left: 1.25rem;
  z-index: 1;
}

.section__marketing__ellipse__div__green--ellipse {
  border: 1px solid red;
  width: 3.9194rem;
  position: absolute;
  bottom: 2.5rem;
  left: 1.25rem;
  z-index: 1;
}

/* Ellipse styles */
.section__marketing__ellipse__div__red--ellipse {
  width: 3.9194rem;
  height: 3.9194rem;
  background-color: #FB3B64;
  border-radius: 50%;
  position: relative;
  left: 10.5rem;
  top: 1.25rem;
}

.section__marketing__ellipse__div__blue--ellipse2 {
  width: 3.9194rem;
  height: 3.9194rem;
  background-color: #08A6E4;
  border-radius: 50%;
  position: relative;
  left: 10.5rem;
  top: 1.25rem;
}

.section__marketing__ellipse__div__green--ellipse3 {
  width: 3.9194rem;
  height: 3.9194rem;
  background-color: #55DFB4;
  border-radius: 50%;
  position: relative;
  left: 10.5rem;
  top: 1.25rem;
}

/* Styles of the icon */
.section__marketing__ellipse__div__red__icon__box__icon {
  content: url("../resources/svg/Person2.svg");
  width: 2.75rem;
  height: 3.25rem;
  position: absolute;
  left: 12rem;
  top: 1rem;
  z-index: 2;
}

.section__marketing__ellipse__div__blue__icon__box__icon {
  content: url("../resources/svg/Eye2.svg");
  width: 4.0894rem;
  height: 2.2813rem;
  position: absolute;
  left: 12rem;
  top: 2rem;
  z-index: 2;
}

.section__marketing__ellipse__div__green__icon__box__icon {
  content: url("../resources/svg/Catalog2.svg");
  width: 3.25rem;
  height: 3rem;
  position: absolute;
  left: 12rem;
  top: 1.8rem;
  z-index: 2;
}

/* Styles of the number entries */
.section__marketing__ellipse__div__red__numberEntries--p1 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  text-align: center;
  position: relative;
  bottom: 3.5rem;
}

.section__marketing__ellipse__div__blue__numberEntries--p1 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  text-align: center;
  position: relative;
  bottom: 3.5rem;
}

.section__marketing__ellipse__div__green__numberEntries--p1 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  text-align: center;
  position: relative;
  bottom: 3.5rem;
}

.section__marketing__ellipse__div__red__numberEntries--p2 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.0625rem;
  color: #A5A5A5;
  text-align: center;
  position: relative;
  bottom: 3.5rem;
}

.section__marketing__ellipse__div__blue__numberEntries--p2 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.0625rem;
  color: #A5A5A5;
  text-align: center;
  position: relative;
  bottom: 3.5rem;
}

.section__marketing__ellipse__div__green__numberEntries--p2 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.0625rem;
  color: #A5A5A5;
  text-align: center;
  position: relative;
  bottom: 3.5rem;
}

/* Desktop version */
@media screen and (min-width: 768px) {
  .section__marketing__h1 {
    width: 14.125rem;
    height: 3.5625rem;
    bottom: auto;
    top: auto;
    left: 44%;
    font-family: "Raleway", sans-serif;
    font-size: 3.0625rem;
    font-weight: 400;
    line-height: 3.5625rem;
    position: relative;
  }
  .section__marketing__p {
    width: 30rem;
    height: 1.375rem;
    bottom: auto;
    top: auto;
    left: auto;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;
    position: relative;
  }
  .section__marketing__btn {
    width: 27.5rem;
    height: 4.1875rem;
    top: auto;
    left: auto;
    bottom: auto;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.375rem;
    color: #FFFFFF;
    background-color: #08A6E4;
    border: 2.5rem;
    border-radius: 2.5rem;
    position: relative;
    cursor: pointer;
  }
  .section__marketing__img {
    width: 110%;
    height: 20%;
    position: relative;
  }
  .section_marketing__ellipse__container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }
}
.section__contact {
  height: 30rem;
}

/* H2 Style */
.section__contact__div h2 {
  width: 17.5rem;
  height: 2.9375rem;
  bottom: auto;
  top: auto;
  left: 2rem;
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.9181rem;
  position: relative;
}

/* P Style */
.section__contact__div p:not(p[class=section__contact__div__consent]) {
  width: auto;
  height: 1.375rem;
  bottom: auto;
  top: auto;
  left: 2rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem;
  position: relative;
}

/* Image Style */
.section__contact__div img {
  width: 1.6875rem;
  height: 1.6875rem;
  top: 0.5rem;
  left: 2rem;
  z-index: auto;
  position: relative;
}

/* Href Style */
.section__contact__div a {
  text-decoration: none;
}

/* P Href Style */
.section__contact__div a p {
  width: 9.0625rem;
  height: 1.375rem;
  bottom: auto;
  top: auto;
  left: 2.1619rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.375rem;
  position: relative;
  color: #A5A5A5;
  display: inline-block;
}

/* Form Style*/
.section__contact__div__form form {
  width: 19.5rem;
  height: 9.8125rem;
  top: 2rem;
  left: 1.875rem;
  bottom: auto;
  position: relative;
}

/* Label Style */
.section__contact__div__form label {
  width: auto;
  height: auto;
  bottom: auto;
  top: 2rem;
  left: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 0.6875rem;
  font-weight: 600;
  line-height: 0.9363rem;
  position: relative;
  display: block;
  color: #08A6E4;
}

/* Input Style */
.section__contact__div__form input {
  width: 19.5rem;
  height: 2rem;
  top: 0.8rem;
  left: auto;
  bottom: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  color: #A5A5A5;
  border: none;
  position: relative;
  border-bottom: 1px solid #95989A;
}

/* Consent Style */
.section__contact__div__form input[type=checkbox] {
  width: 1.5rem;
  height: 1.5rem;
  top: 2rem;
  left: auto;
  bottom: auto;
  position: relative;
  appearance: none;
  border: 1px solid #95989A;
  cursor: pointer;
}

.section__contact__div__form input[type=checkbox]:checked::after {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-image: url(../resources/svg/Checkmark.svg);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.section__contact__div__consent {
  width: 17.3125rem;
  height: 9rem;
  bottom: auto;
  top: auto;
  left: 2.5rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.04rem;
  position: relative;
  color: #707070;
}

/* Button Style */
.section__contact__div__form__button {
  width: 14.125rem;
  height: 3.5625rem;
  top: auto;
  left: 3rem;
  bottom: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.1062rem;
  color: #FFFFFF;
  background-color: #08A6E4;
  border: none;
  border-radius: 2.5rem;
  position: relative;
  cursor: pointer;
  margin-bottom: 2.75rem;
  cursor: pointer;
}

.section__contact__div__form__button:disabled {
  width: 14.125rem;
  height: 3.5625rem;
  top: auto;
  left: 3rem;
  bottom: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.1062rem;
  color: #FFFFFF;
  background-color: #A5A5A5;
  border: none;
  border-radius: 2.5rem;
  position: relative;
  cursor: pointer;
  margin-bottom: 2.75rem;
}

/* Error text styles */
.section__contact__div__form__errorTextName {
  display: none;
  color: red;
  position: relative;
  top: 10%;
  left: 2%;
}

.section__contact__div__form__errorTextEmail {
  display: none;
  color: red;
  position: relative;
  left: 3%;
  top: 10%;
}

/* Desktop version */
@media screen and (min-width: 768px) {
  .section__contact {
    width: 55%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
  }
  .section__contact__div h2 {
    height: 3.5625rem;
    width: 21.4375rem;
  }
  .section__contact__div p:not(p[class=section__contact__div__consent]):not(p[class=section__contact__div__p]) {
    top: 18%;
  }
  .section__contact__div p:not(p[class=section__contact__div__consent]) {
    top: 7%;
  }
  .section__contact__div a[href="tel:123456789"] {
    position: relative;
    left: 60%;
    bottom: 6.5%;
  }
  .section__contact__div img {
    top: 20%;
  }
  .section__contact__div__form form {
    width: 27.5rem;
    height: 9.8125rem;
    top: auto;
    left: 70%;
  }
  .section__contact__div__form label {
    position: relative;
    top: 1.5rem;
    left: 0.8rem;
    margin-bottom: 1.25rem;
  }
  .section__contact__div__form input:not([type=checkbox]) {
    width: 27.5rem;
    height: 2rem;
    top: 1.5rem;
    left: 0.8rem;
    margin-bottom: 1.25rem;
    border: none;
    border-bottom: 1px solid #95989A;
  }
  .section__contact__div__form input[type=checkbox] {
    left: 0.9375rem;
  }
  .section__contact__div__consent {
    width: 25.3125rem;
    height: 6.75rem;
    left: 3rem;
  }
  .section__contact__div__form__button {
    width: 14.125rem;
    height: 3.5625rem;
    left: 3rem;
  }
  .section__contact__div__form__sentStatus {
    position: relative;
    left: 1.875rem;
  }
}
footer {
  width: 100%;
  height: 5.5625rem;
  position: absolute;
  box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.2);
  margin-top: 5%;
}

.footer-text h2 {
  width: 12.5rem;
  height: 1.875rem;
  bottom: auto;
  top: 1.405rem;
  left: 1.0625rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.625rem;
  font-weight: 300;
  line-height: 1.875rem;
  position: relative;
  color: #08A6E4;
}

.footer-text p {
  width: 11.6875rem;
  height: 0.9375rem;
  bottom: auto;
  top: 1.5rem;
  left: 1.0625rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 0.9363rem;
  position: relative;
  color: #A5A5A5;
}

.footer-text img {
  position: relative;
  left: 19rem;
  margin-right: 0.7rem;
  bottom: 17px;
}

/* Deskop version */
@media screen and (min-width: 768px) {
  .footer-text h2,
  .footer-text p {
    position: relative;
    left: 8.5625rem;
  }
  .footer-text img {
    position: relative;
    left: 98rem;
    bottom: 0.7rem;
  }
}
.progress-bar {
  position: fixed;
  width: 100%;
  height: 0.3rem;
  z-index: 5;
}

.progress-bar__line {
  width: 0%;
  height: 100%;
  background-color: #08A6E4;
}

.return__top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #ffffff;
  border: 3px solid #08A6E4;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s;
}

.return__top:hover {
  background-color: #08A6E4;
  color: #ffffff;
}

.return__top img {
  width: 4rem;
  height: 4rem;
}

.return__top button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.slider {
  margin-bottom: 5%;
  position: relative;
  width: 400px;
  height: 200px;
  overflow: hidden;
}

.slider__images__container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slider__images__container img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  width: 400px;
  height: 200px;
}

.slider__butons__prev,
.slider__butons__next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.slider__butons__prev {
  left: 10px;
}

.slider__butons__next {
  right: 10px;
}

.slider__dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.slider__dots span {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.slider__dots span.active {
  background-color: white;
}

@media screen and (min-width: 768px) {
  .slider {
    margin-bottom: 5%;
    margin-left: 35%;
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
  }
  .slider__images__container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    border-radius: 2.5rem;
  }
  .slider__images__container img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    width: 600px;
    height: 400px;
    border-radius: 2.5rem;
  }
  .slider__butons__prev,
  .slider__butons__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  .slider__butons__prev {
    left: 10px;
  }
  .slider__butons__next {
    right: 10px;
  }
  .slider__dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .slider__dots span {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  .slider__dots span.active {
    background-color: white;
  }
}
.newsletter__modal {
  margin: auto;
  width: 80%;
  max-width: 800px;
  /* Aumentamos el ancho máximo para acomodar la imagen y el formulario */
  height: 40%;
  /* Altura automática según el contenido */
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0;
  /* Eliminamos el padding para que el contenido ocupe todo el espacio */
  position: relative;
  overflow: hidden;
}

.newsletter__modal[open] {
  display: flex;
  flex-direction: row;
  /* Cambiamos a fila para que la imagen y el formulario estén uno al lado del otro */
  align-items: stretch;
  /* Aseguramos que ambos lados tengan la misma altura */
  height: fit-content;
}

.newsletter__modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.no-scroll {
  overflow: hidden;
}

.newsletter__modal__content {
  display: flex;
  width: 100%;
}

.newsletter__modal__img {
  flex: 1;
  /* La imagen ocupa la mitad del espacio */
  max-width: 50%;
  /* Limita el ancho de la imagen al 50% del modal */
}

.newsletter__modal__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Asegura que la imagen cubra todo el espacio sin distorsionarse */
  border-radius: 10px 0 0 10px;
  /* Redondea solo la esquina izquierda */
}

.newsletter__modal__form__container {
  flex: 1;
  /* El formulario ocupa la otra mitad del espacio */
  padding: 20px;
  position: relative;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
}

.newsletter__modal__closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  padding: 5px;
}

.newsletter__modal__closeButton:hover {
  color: #ff0000;
}

.newsletter__modal h2 {
  margin-top: 20%;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: 800;
}

.newsletter__modal__form__label {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.newsletter__modal__form__input {
  width: 100%;
  height: 2rem;
  top: 0.8rem;
  left: auto;
  bottom: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  color: #A5A5A5;
  border: none;
  position: relative;
  border-bottom: 3px solid white;
  background-color: transparent;
  margin-bottom: 40px;
  text-align: center;
}

/* .newsletter__modal__form__input::placeholder {
    text-align: center;
} */
.newsletter__modal_sendButton {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.newsletter__modal_sendButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.newsletter__modal__text {
  text-align: center;
  margin-top: 20px;
  font-family: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* Habilita el scroll suave */
}

body {
  min-width: 320px;
  overflow-x: hidden;
  transition: all 1s;
}

/*# sourceMappingURL=style.css.map */
