@use "_variables" as *;

.header {
    height: 4.375rem;
}

.header__logo {
    font-family: $ralewayFont;
    font-size: 2rem;
    font-weight: 300;
    color: $blue;
    margin-left: 1.5625rem;
    width: 60%;
    margin-top: 1.25rem;
}

.header__button__hamburger {
    background-color: transparent;
    border: none;
    width: 1.25rem;
    height: 0.875rem;
    margin-left: 20rem;
    position: relative;
    bottom: 1.6rem;
}

.header__nav__list {
    display: none;
}

.header__hr {
    box-shadow: 0rem 0.1875rem 0.375rem 0rem #0000004A;
}