@use "_variables" as *;

.header {
    height: 4.375rem;
    box-shadow: 0px 3px 3px 0px #0000004A;

}

.header__logo {
    font-family: $ralewayFont;
    font-size: 2rem;
    font-weight: 300;
    color: $blue;
    margin-left: 1.5625rem;
    width: 60%;
    top: .9375rem;
    position: relative;
}

.header__button__hamburger {
    background-color: transparent;
    border: none;
    width: 1.25rem;
    height: 0.875rem;
    margin-left: 20rem;
    position: relative;
    bottom: 0.6rem;
}

.header__nav__list {
    display: none;
    width: 100%;
    height: 10.9781rem;
    position: absolute;
    background-color: $white_advantages_frames;
    z-index: 4;
    box-shadow: 0px 4px 4px 0px #0000004A;
    list-style: none;
}

.header__nav__list li {
    margin-top: 1.25rem;
    margin-left: 2rem;
}

.header__nav__list a {
    font-family: $openSansFont;
    font-size: .6875rem;
    font-weight: 700;
    line-height: .9375rem;
    color: $grey_marketing;
    text-decoration: none;

}

.header__nav__list a:hover {
    color: $black;
}

.header__nav__list__list__item {
    margin-top: 1.25rem;
}

/* Desktop */
@media screen and (min-width: 768px) {
    .header {
        height: 70px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .header__logo {
        font-size: 2rem;
        margin-left: 3.125rem;
        margin-bottom: 1.6rem;
    }

    .header__button__hamburger {
        display: none;
    }

    .header__nav__list {
        display: flex;
        box-shadow: none;
        background-color: transparent;
        height: auto;
        position: static;
        width: max-content;
    }

    .header__nav__list li {
        list-style: none;
        margin-right: 5rem;
        position: relative;
        /* Necesario para posicionar la barra */
    }

    .header__nav__list li a {
        font-family: $openSansFont;
        font-size: .6875rem;
        font-weight: 700;
        line-height: .9375rem;
        color: $black;
        text-decoration: none;
        display: inline-block;
        margin-bottom: 20px;
        /* Asegura que el span ocupe el ancho del texto */
    }

    .header__nav__list li a:hover {
        color: $blue;
    }

    .header__nav__list__list__item .underline {
        display: block;
        width: 0;
        /* Inicialmente la barra no tiene ancho */
        height: .25rem;
        /* Altura de la barra */
        background-color: $blue;
        /* Color de la barra */
        position: absolute;
        bottom: -0.4rem;
        /* Posición debajo del texto */
        left: -0.625rem;
        transition: width 0.3s ease;
        /* Animación suave */
    }

    .header__nav__list__list__item:hover .underline {
        width: 150%;
        /* La barra se expande al 100% del ancho del texto */
    }
}