@use "_variables" as *;

/* Section style */
@mixin sectionStyle($width, $height, $top, $color) {
    width: $width;
    height: $height;
    top: $top;
    background-color: $color;
}

.section__advantages {
    @include sectionStyle(100%, 100%, 0, $section_advantages_bgColor);
}

/* Frames styles */
@mixin frameStyle($width, $height, $top, $radius, $border, $color) {
    width: $width;
    height: $height;
    top: $top;
    border-radius: $radius;
    border: $border;
    background-color: $color;
    position: relative;
    margin: 2.625rem 1.9375rem 2.5625rem 1.875rem;
}


.section__advantages__first__frame {
    @include frameStyle(19.625rem, 23.125rem, 1.25rem, .3125rem, 1px solid $white_advantages_frames_borderColor, $white_advantages_frames);
}

.section__advantages__second__frame {
    @include frameStyle(19.6875rem, 23.125rem, auto, .3125rem, 1px solid $white_advantages_frames_borderColor, $white_advantages_frames);
}

.section__advantages__third__frame {
    @include frameStyle(19.625rem, 18.625rem, auto, .3125rem, 1px solid $white_advantages_frames_borderColor, $white_advantages_frames);
}

/* Third frame extension style */
@mixin extensionStyle($width, $height, $top, $bottom, $left) {
    width: $width;
    height: $height;
    top: $top;
    bottom: $bottom;
    left: $left;
}

.section__advantages__third__frame__extension {
    @include extensionStyle(19.625rem, 12.1875rem, auto, auto, auto);
}

/* Image styles */
@mixin imageStyle($width, $height, $top, $left, $zIndex) {
    width: $width;
    height: $height;
    top: $top;
    left: $left;
    z-index: $zIndex;
    position: relative;
}

.section__advantages__first__frame img {
    @include imageStyle(12.0475rem, 6.8706rem, 2.3194rem, 4rem, 2);
}

.section__advantages__second__frame img {
    @include imageStyle(12.0475rem, 6.8706rem, 3rem, 6rem, 2);
}

.section__advantages__third__frame__extension img {
    @include imageStyle(18.4831rem, 12.9825rem, auto, 1.7rem, 2);
    bottom: 1.25rem;
}

/* Ellipse styles*/
@mixin ellipseStyle($width, $height, $bottom, $left, $radius, $rotation, $color) {
    width: $width;
    height: $height;
    bottom: $bottom;
    left: $left;
    border-radius: $radius;
    transform: rotate($rotation);
    background-color: $color;
    position: relative;
}

.section__advantages__first__frame__ellipse {
    @include ellipseStyle(5.6325rem, 5.6325rem, 6.25rem, 12.5rem, 2.5625rem, 45deg, $red);
}

.section__advantages__second__frame__ellipse {
    @include ellipseStyle(8.2425rem, 8.2312rem, 5.625rem, 6.25rem, 50%, 0deg, $blue);
}

.section__advantages__third__frame__extension__rectangle {
    @include ellipseStyle(19.625rem, 12.1875rem, 16.25rem, 1.9rem, .3125rem, 1px solid $grey_border_color_third_frame_rectangle, $green);
}

/* Rectangle style (3rd frame) */
@mixin rectangleStyle($width, $height, $top, $left, $radius, $border, $color) {
    width: $width;
    height: $height;
    top: $top;
    left: $left;
    border-radius: $radius;
    border: $border;
    background-color: $color;
    position: relative;
}



/* Text styles */
@mixin textStyle($width, $height, $bottom, $top, $left, $font, $size, $weight, $lineHeight) {
    width: $width;
    height: $height;
    bottom: $bottom;
    top: $top;
    left: $left;
    font-family: $font;
    font-size: $size;
    font-weight: $weight;
    line-height: $lineHeight;
    position: relative;
}

.section__advantages__first__frame h2 {
    @include textStyle(12.375rem, 4.5rem, auto, auto, 1.375rem, $ralewayFont, 1.875rem, 400, 2.2012rem);
}

.section__advantages__first__frame p {
    @include textStyle(17rem, 5.25rem, auto, auto, 1.3125rem, $openSansFont, .875rem, 400, 1.3125rem);
}

.section__advantages__second__frame h2 {
    @include textStyle(13.625rem, 4.375rem, 4rem, auto, 1.375rem, $ralewayFont, 1.875rem, 400, 2.2012rem);
}

.section__advantages__second__frame p {
    @include textStyle(17rem, 4.8125rem, 3rem, auto, 1.3125rem, $openSansFont, .875rem, 400, 1.1875rem);
}

.section__advantages__third__frame h2 {
    @include textStyle(17.125rem, 6.8125rem, auto, 1rem, 1.375rem, $ralewayFont, 1.875rem, 400, 2.2012rem);
}

.section__advantages__third__frame p {
    @include textStyle(17.125rem, 7.125rem, auto, 1.875rem, 1.3125rem, $openSansFont, 1rem, 400, 1.3619rem);
}

/* Styles of the hr */
@mixin hr-style () {
    display: none;
}

.section__advantages__first__frame hr {
    @include hr-style();
}

.section__advantages__second__frame hr {
    @include hr-style();
}

.section__advantages__third__frame hr {
    @include hr-style();
}

/* Desktop version */
@media screen and (min-width: 768px) {
    .section__advantages {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section__advantages__first__frame,
    .section__advantages__second__frame {
        width: 60%;
    }

    .section__advantages__third__frame {
        height: 23.125rem;
        width: 33%;
        right: 15.4rem;
    }

    .section__advantages__first__frame img {
        width: 24.1525rem;
        height: 13.6875rem;
        top: 2.3194rem;
        left: 50%;
        top: 30%;
    }

    .section__advantages__first__frame__ellipse {
        width: 11.25rem;
        height: 11.25rem;
        z-index: 0;
        left: 70%;
        bottom: 45%;
    }

    .section__advantages__first__frame h2 {
        width: 14.8125rem;
        height: 2.625rem;
        font-size: 2.25rem;
        bottom: 80%;
    }

    .section__advantages__first__frame p {
        width: 26rem;
        height: 4.125rem;
        font-size: 1rem;
        bottom: 75%;
    }

    .section__advantages__first__frame p::after {
        content: '';
        display: block;
        position: relative;
        border: 2px solid $red;
        margin-top: 12%;
        width: 20.4775rem;
    }


    .section__advantages__second__frame img {
        width: 26.625rem;
        height: 20.5rem;
        top: 2.3194rem;
        left: 1%;
        top: 10%;
    }

    .section__advantages__second__frame__ellipse {
        width: 20rem;
        height: 20rem;
        z-index: 0;
        left: 2%;
        bottom: 85%;
    }

    .section__advantages__second__frame h2 {
        width: 16.1875rem;
        height: 5.25rem;
        font-size: 2.25rem;
        left: 60%;
        bottom: 150%;
    }

    .section__advantages__second__frame p {
        width: 26rem;
        height: 4.125rem;
        font-size: 1rem;
        left: 60%;
        bottom: 147%;
    }

    .section__advantages__second__frame p::after {
        content: '';
        display: block;
        position: relative;
        border: 2px solid $blue;
        margin-top: 12%;
        width: 20.4775rem;
    }


    .section__advantages__third__frame__extension img {
        width: 26.625rem;
        height: 20.5rem;
        left: 90%;
        bottom: 180%;
    }

    .section__advantages__third__frame__extension__rectangle {
        width: 27.5rem;
        height: 23.125rem;
        z-index: 0;
        left: 87%;
        bottom: 381%;
    }

    .section__advantages__third__frame h2 {
        width: 21.75rem;
        height: 5.25rem;
        font-size: 2.25rem;
        left: 5%;
        top: 20%;
    }

    .section__advantages__third__frame p {
        width: 26rem;
        height: 4.125rem;
        font-size: 1rem;
        left: 5%;
        top: 25%;
    }

    .section__advantages__third__frame p::after {
        content: '';
        display: block;
        position: relative;
        border: 2px solid $green;
        margin-top: 12%;
        width: 20.4775rem;
    }


}