@use "_header";
@use "_section_marketing";
@use "_section_frames";
@use "_section_cards";
@use "_contact";
@use "_footer";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
}